

/* Global Styles */
@font-face {
    font-family: "Aller Bold";
    src: url('../fonts/Aller_Bd.ttf');
}

@font-face {
    font-family: "Aller Light";
    src: url('../fonts/Aller_Lt.ttf');
}
body{
	background: #2c2c2c url('../img/girl-road-bg.jpg') no-repeat center center fixed;
	font-family: 'Open Sans', sans-serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.navbar-brand{
	height: auto;
}
.navbar .navbar-toggle .icon-bar{
    background-color: white;
}


/* Typography */
h1{
	font-family: "Aller Bold", sans-serif;
}
h3{
	font-family: "Aller Light", sans-serif;
}


/* Sections */

/* -- Header -- */
#header-wrapper{
	color: white;
	margin-top: 50px;
}

#header-wrapper .nav{
	margin-top: 35px;
}

#header-wrapper .nav a{
	color: white;
	text-shadow: 1px 1px 2px black;
	text-transform: uppercase;
}

#header-wrapper .nav a:hover{
	color: white;
	text-shadow: 2px 2px 3px black;
	background: none;
}

.top-description {
	margin-top: 35px;
}

.top-description h1,
#features-wrapper h1{
	font-size: 52px;
}

.top-description h3,
#features-wrapper h3,
#team-wrapper .col-sm-6 h3{
	margin-top: 30px;
	font-size: 35px;
}

.top-description p{
	font-size: 21px;
}

.stores-banners{
	margin-top: 10px;
}

.stores-banners a{
	margin-top: 35px;
	width: 100%;
	font-family: 'Aller Bold';
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	box-shadow: 1px 1px 2px black;
}

.stores-banners a:hover{
	box-shadow: 2px 2px 3px black;
}

.stores-banners img{
	margin-top: 10px;
	width: 100%;
	max-width: 195px;
	box-shadow: 1px 1px 2px black;
}

.store-link {
	margin-bottom: 50px;
}

.stores-banners img:hover{
	box-shadow: 2px 2px 3px black;
}

.top-iphone img{
	margin-top: 35px;
}

/* -- About -- */

#about-wrapper {
	background: white;
	padding-top: 75px;
	padding-bottom: 50px;
}

#about-wrapper .container {
	position: relative;
}

#about-wrapper hr {
	background-color: rgb(78, 91, 97);
	opacity: 0.302;
	height: 1px;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	margin: 0;
}

#about-wrapper .col-sm-7 {
	padding-top: 70px;
}

#about-wrapper .col-sm-7 h1 {
	color: #4e5b61;
	font-size: 36px;
}

#about-wrapper .col-sm-7 p {
	color: #4e5b61;
	font-size: 19px;
}

/*  Features  */

#features-wrapper {
	background: #2c2c2c url(../img/bugs-macro.jpg) no-repeat center center fixed;
	color: white;
	padding-top: 50px;
	padding-bottom: 290px;
}

#features-wrapper h3 {
	margin-top: 20px;
}

/*  Team  */

#team-wrapper {
	background: white;
	color: #4e5b61;
	padding-top: 70px;
	padding-bottom: 80px;
}

#team-wrapper .media {
	margin-bottom: 30px;
}

#team-wrapper .media-left img {
	border-radius: 50%;
	margin-right: 15px;
}

#team-wrapper .media-body h4 {
	font-family: 'Aller Bold';
	text-transform: uppercase;
	font-size: 21px;
}

#team-wrapper .media-body p {
	font-family: 'Open Sans';
	font-size: 16px;
}

#team-wrapper .col-sm-6 p {
	font-family: 'Open Sans';
	font-size: 19px;
}

#team-wrapper .col-sm-6 h3 {
	font-family: 'Aller Bold', sans-serif;
	margin-top: 0px;
	font-size: 36px;
}

/**  Footer  **/

#footer-wrapper {
	background: white;
	padding-bottom: 155px;
	padding-top: 25px;
	font-family: 'Aller Light';
	font-size: 16px;
}

#footer-wrapper hr {
	margin-top: 0px;
}

#footer-wrapper span {
	color: #4e5b61;
}

#footer-wrapper a {
	color: #a6adb0;
}













/* End All Sections */